@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-foreground transition-colors duration-300;
  font-family: 'Space Grotesk', system-ui, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: 'Outfit', sans-serif;
}

section {
  content-visibility: auto;
  contain-intrinsic-size: 0 500px;
  /* Estimated height to prevent scroll jump */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-black;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-800 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-700;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}